@use "sass:color";

// Colours
$grey-darker: #121212;
$grey-dark: color.scale($grey-darker, $lightness: 5%);
$grey: color.scale($grey-darker, $lightness: 7%);

$white-darker: rgba(#fff, 0.65);
$white-dark: color.scale($white-darker, $lightness: -5%);
$white: color.scale($white-darker, $lightness: -7%);

// Overrides
$background: $grey;

$scheme-main: $grey-darker;
$scheme-main-bis: $grey-dark;
$scheme-main-ter: $grey;
$scheme-invert: $white-darker;
$scheme-invert-bis: $white-dark;
$scheme-invert-ter: $white;

$text-strong: $white-darker;
$text-light: $white-dark;
$text: $white;
$text-invert: $grey-darker;

$link-hover: $white;

$box-color: $white;
$box-background-color: $grey-dark;

$shadow: 0 0.5em 1em -0.125em rgba($grey, 0.1), 0 0px 0 1px rgba($grey, 0.02) !default;

// Panels
$panel-heading-background-color: $grey;
$panel-block-active-color: $white;

// Pagination
$pagination-disabled-color: $grey-dark !default;
